/* Base styles */
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

#main-nav {
    background-color: transparent;
}

section {
    height: 100vh;
}

#home {
    background-image: url("myself.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-col {
    margin-top: 15%;
    size: 10%;
}

i {
    color: rgb(8, 5, 4);
}

h1.display-3 {
    color: rgba(40, 3, 61, 0.697);
    font-size: 6rem;
}

p.lead {
    color: rgba(16, 1, 1, 0.697);
    font-size: 2rem;
    font-weight: bold;
}

img {
    filter: grayscale(1);
}

.img-hero {
    height: auto;
    max-width: 100%;
}

.spacing {
    margin-top: 10%;
}

h2.display-4 {
    color: rgba(40, 3, 61, 0.697);
    font-size: 1.5rem;
}

#main-nav {
    position: left;
}

.card-icon {
    font-size: 5rem;
    color: rgba(40, 3, 61, 0.697);
}

.block {
    height: .3rem;
    width: 6rem;
    background-color: rgba(0, 0, 0, 0.697);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    opacity: 0.5;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .custom-col {
        margin-top: 5%;
    }

    h1.display-3 {
        font-size: 4rem;
    }

    p.lead {
        font-size: 1.5rem;
    }

    .img-hero {
        height: auto;
    }

    .spacing {
        margin-top: 5%;
    }

    h2.display-4 {
        font-size: 1.2rem;
    }
}
